<div class="productly-popup" id="productly-product-custom-information">
    <div class="productly-popup-wrapper">
        <div class="productly-popup-header">
            <h5 class="productly-popup-title"></h5>
            <button type="button" class="productly-popup-close clearfix" data-close-custom-information aria-label="{{ 'general.common.close' | t }}">
                {% render 'icon-close' %}
                {{ 'general.common.close' | t }}
            </button>
        </div>
        <div class="productly-popup-content">
        </div>
    </div>    
</div>
