.policies-block .productly-item {
    text-align: center;
}

.policies-border--top {
    border-top: 1px solid var(--border-color);
}

.policies-border--bottom {
    border-bottom: 1px solid var(--border-color);
}

.policies-border--top_bottom {
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.policies-block banner-slider-component {
    position: relative;
}

.policies-block .productly-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--item-padding-top-style) var(--item-padding-left-right) var(--item-padding-bottom-style);
    border-radius: var(--item-radius-style);
    font-weight: var(--font-weight-medium);
}

.policies-block .productly-item a.text-left {
    justify-content: flex-start;
}

.policies-block .productly-item a.text-right {
    justify-content: flex-end;
}

.policies-block .productly-item a:hover img {
    cursor: pointer;
    animation: jelly 0.5s;
}

.animate--hover-3d-lift .policies-block .productly-item a:hover img,
.animate--hover-vertical-lift .policies-block .productly-item a:hover img {
    animation: none;
}

.policies-block .productly-item a.alignItems--top {
    align-items: flex-start;
}

.policies-block .productly-item a.alignItems--bottom {
    align-items: flex-end;
}

.policies-block .productly-item a.alignItems--bottom .policies-content {
    margin-bottom: -3px;
}

.policies-block .productly-item .policies-icon {
    margin-right: var(--icon-mg-right-style);
}

.policies-block .productly-item .policies-icon svg {
    width: var(--icon-width-style);
    height: var(--icon-height-style);
    position: relative;
    top: -2px;
}

.policies-block .productly-row.not-distance {
    margin-left: 0;
    margin-right: 0;
}

.policies-block .productly-row.not-distance .productly-item {
    padding-left: 0;
    padding-right: 0;
}

.policies-block .productly-item img {
    margin-right: var(--icon-mg-right-style);
}

.policies-block .policies-content {
    text-align: left;
}

.policies-block .policies-content .policies-text, 
.policies-block .productly-item .policies-text{
    font-size: var(--font-size-text-style);
    font-weight: var(--font-weight-text-style);
    font-style: var(--font-style-text-style);
    margin-bottom: var(--mg-bottom-text-style);
    display: block;
    line-height: 1.5;
}

.policies-block .policies-content .policies-des, 
.policies-block .productly-item .policies-des{
    font-size: calc(var(--font-size-text-style) - 2px);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: var(--font-weight-normal);
    line-height: 1.5;
}

.policies-block.animate--slide-in .scroll-snap-mobile {
    overflow-y: hidden;
}

@media (max-width: 1024px){
    .policies-block .scroll-snap-mobile.not-distance .productly-item{
        flex: 0 0 90%;
        margin-right: 0;
    }

    .policies-block .policies-content .policies-des, 
    .policies-block .productly-item .policies-des{
        line-height: 1.3;
    }

    .policies-block .productly-item img{
        margin-right: calc(var(--icon-mg-right-style) * 0.75);
    }
}

@media (max-width: 992px){
    .policies-block .scroll-snap-mobile .productly-item{
        flex: 0 0 90%;
    }

    .policies-block .scroll-snap-mobile.not-distance .productly-item{
        flex: 0 0 90%;
        margin-right: 0;
    }
}

@media (max-width: 767px){
    .policies-block .productly-row .productly-item{
        width: 100%;
    }

    .policies-block .policies-content .policies-text, 
    .policies-block .productly-item .policies-text{
        font-size: var(--font-size-text-style-mb);
    }
    
   /* .policies-block .productly-row .productly-item+.productly-item:not(.slider__slide){
        margin-top: 10px;
    }*/

    .policies-block .productly-row:not(.slider, .scroll-snap-mobile) .productly-item:before {
        content: none;
    }

    .policies-block .slider.slider--tablet {
        overflow-y: hidden;
    }

    .policies-block .productly-item img{
        margin-right: calc(var(--icon-mg-right-style) * 0.5);
    }
}
